apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: todo
  labels:
    role: frontend
    env: demo
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      containers:
        - name: frontend
          image: rakshithrpoojary/frontend:15
          imagePullPolicy: Always
          env:
            - name: REACT_APP_BACKEND_URL
              value: "http://a7b63c3874c924189bf1d215e44e66fe-2041098365.ap-south-1.elb.amazonaws.com:3500/api/tasks"
          ports:
            - containerPort: 3000
