apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: todo
  labels:
    role: frontend
    env: demo
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      containers:
        - name: frontend
          image: rakshithrpoojary/frontend:15
          imagePullPolicy: Always
          env:
            - name: REACT_APP_BACKEND_URL
              value: "http://aa238e25a27fa498eb2f0ecf3ac50239-1624317883.ap-south-1.elb.amazonaws.com/api/tasks"
          ports:
            - containerPort: 3000
